#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.trafficLight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 310px;
    height: 910px;
    background-color: black;
    border-radius: 20px;
}

.light {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
}

.red {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: darkred;
    margin: 5px;
}

.yellow {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: darkgoldenrod;
    margin: 5px;
}


.green {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: darkgreen;
    margin: 5px;
}

.mysteryColor {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: purple;
    margin: 5px;
}

.bright {
    filter: brightness(150%);
    box-shadow: 0 0 35px white;
}

.randomButton {
    border-radius: 4px;
    width: 150px;
}

.mysteryButton {
    background-color: darkred;
    color: white;
    border-radius: 4px;
    width: 150px;
}

